* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
pre {
    width: 70vw;
}
ol > li {
    /* width: 70vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
}
h2 {
    width: 70vw;
    text-align: start;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
